header {
  padding-left: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo-group h1 {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  margin: 0;
}
.logo-group img {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-group img:hover {
  filter: drop-shadow(0 0 1em #00e1ff);
}

/* Show full title by default */
h1 .full {
  display: inline;
}
h1 .short {
  display: none;
}

/* On small screens, swap them */
@media (max-width: 600px) {
  h1 .full {
    display: none;
  }
  h1 .short {
    display: inline;
  }
}

.link-group {
  padding-right: 10px;
  display: flex;
  gap: 1em;
}

.link-group a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 300ms;
  overflow: hidden;
}

.link-group a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #00e1ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, transform-origin 0s ease 0.3s;
  pointer-events: none;
}

.link-group a:hover {
  filter: drop-shadow(0 0 1em #00e1ff);
}

.link-group a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link-group a:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}